<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Rikki Tikki</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.5.3/jquery-ui.min.js"></script>
	<link type="text/css" href="/css/smoothness/jquery-ui-1.8.6.custom.css" rel="stylesheet" />	
	<script type="text/javascript" src="/js/jquery-ui-1.8.6.custom.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</head>
<body>

<div class="container">
	<div id="title">
		<h1>Rikki Tikki</h1>
		<h2>A little webapp for timing your times.</h2>
		<span id="links" >
			<a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/records">Records </a>
		</span>
	</div>
	
	<div id="content">
		<div>
			<% if flash[:notice] %>
			<div class="ui-widget">
				<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
					<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
					<strong>Hey!</strong> <%= flash[:notice] %></p>
				</div>
			</div>
			<% end %>

			<% if flash[:error] %>
			<div class="ui-widget">
				<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
					<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
					<strong>Oops!</strong> <%= flash[:error] %></p>
				</div>
			</div>
			<% end %>
		</div>
	<%= yield %>
	</div>

</div>

</body>
</html>
