<form method="POST" action="/projects/update">
	
	<p><label>Name:</label>
		<br/><input type="text" name="project[name]" value="<%= (@project.name or @project.namify) %>" size="50">
	</p>
	<p><label>Git Repo:</label>
		<br/><input type="text" name="project[git_name]" value="<%= @project.git_name %>" size="50">
	</p>
	<p><label>Tick ID:</label>
		<br/><input type="text" name="project[tick_id]" value="<%= @project.tick_id %>" size="50">
	</p>
	
	<input type="hidden" name="id" value="<%= @project.id %>">

	<p><input type="submit" value="Update"></p>
</form>